#edittext input {
    background-color: transparent;
    outline: none;
    /*border: 1px dashed black;*/
    border: none;
    box-sizing: border-box;
    color: var(--white);
    margin: 10px 0;
    height: 25px;
    font-size: 12pt;
}