#text {
    /*border: 1px dashed grey;*/
    padding: 10px;
}

#text textarea {
    resize: vertical;
    width: 100%;
    border: none;
    border-radius: 3px;
    background-color: var(--grey4);
    color: var(--white);
    box-sizing: border-box;
    padding: 3px;
    outline: 2px solid transparent;

    transition: outline 0.15s;
}

#text textarea:focus {
    outline: 2px solid var(--accent);
}