h2 {
    margin: 0;
    color: #e6e6e6;
}

p {
    color: #e6e6e6;
}

#login-root {
    background-color: var(--grey3);
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

#dialogue {
    position: relative;
    background: var(--grey2);
    border: 1px solid var(--grey1);
    width: min-content;
    border-radius: 10px;
    padding: 30px;
    width: 350px;
    height: 400px;
}

#dialogue-login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;

    position: absolute;
}

#dialogue-choice {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;

    display: none;
}

#dialouge-browse {
    position: absolute;
    bottom: 10px;
    display: none;
}

#dialouge-browse span {
    color: #8e8e8e;
    text-decoration-line: underline;
    cursor: pointer;
}
 

#dialogue-padding {
    position: relative;
    height: 100%;
    width: 100%;
}

#middle {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.error {
    border: 1px solid red;
}

/*
#D58764
#62A87C (green)
*/

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

#loader {
    border: 4px solid var(--grey1);
    border-top: 4px solid var(--accent);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 2s linear infinite;
}