#button {
	background: var(--accent);
    cursor: pointer;
	width: 100%;
	min-height: 25px;
	border-radius: 3px;
	display: flex;
	justify-content: center;
	align-items: center;
    color: #e6e6e6;
	height: 40px;
	margin: 5px;
}

#button p {
    user-select: none;
    margin: 0;
	padding: 5px;
}